// Custom Properties
:root {
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.15rem;
  --fs-h5: 1.05rem;
  --fs-h6: 1.02rem;
  --fs-body: 1rem;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;

  --ff-primary: "Open Sans";
}

$clr-dark: #303030;
$clr-light: #fff;

$fs-h1: 3rem;
$fs-h2: 2.25rem;
$fs-h3: 1.25rem;
$fs-h4: 1.15rem;
$fs-h5: 1.05rem;
$fs-h6: 1.02rem;
$fs-body: 1rem;

$fw-reg: 300;
$fw-bold: 900;

$ff-primary: "Open Sans";
