:root {
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.15rem;
  --fs-h5: 1.05rem;
  --fs-h6: 1.02rem;
  --fs-body: 1rem;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --ff-primary: "Open Sans";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  background-image: url(../images/For-your-home1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: skyblue;
  width: 100%;
  height: 35rem;
  padding: 100px 0 0 200px;
}

.logo {
  background-color: #303030;
  width: 13rem;
  margin-left: 5rem;
}

.nav {
  max-width: 95rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.73);
  margin-left: 5rem;
}
.nav__list {
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 15px;
}
.nav__item {
  color: #303030;
}
.nav__item :hover {
  color: #ff7900;
}
.nav__link {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 420px) {
  header {
    width: 23.5rem;
    height: 20rem;
  }

  .logo {
    display: none;
  }

  .nav {
    width: 13.5rem;
    height: 12rem;
    margin-left: -12.5rem;
    margin-top: -7.5rem;
  }
  .nav__list {
    display: block;
  }
  .nav__item {
    margin-top: 1rem;
  }
}
.grid-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.grid-column .section__home {
  max-width: 90%;
  margin-left: 18rem;
  display: column;
  margin-top: 1.5rem;
}
.grid-column .section__home-intro-title {
  font-size: 2.25rem;
}
.grid-column .section__home--para {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.grid-column .section__home--slogan {
  color: #ff7900;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
.grid-column .section__home--btn {
  background: linear-gradient(45deg, #ff7900 0%, #ffb200 100%);
  border-radius: 0.5rem;
  height: 4rem;
  font-size: 1.02rem;
  width: 20rem;
  border-radius: none;
  border: none;
  color: #fff;
  margin-bottom: 100px;
}
.grid-column .section__costs {
  display: column;
  width: 50%;
  margin-left: 15rem;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}
.grid-column .section__costs-title {
  font-size: 2.25rem;
}
.grid-column .section__costs-input {
  width: 6rem;
  height: 2.5rem;
}
.grid-column .section__costs-input2 {
  height: 2.5rem;
}
.grid-column .section__costs-breaker {
  border-bottom: 0.1rem dotted #303030;
  margin-top: 1.5rem;
}
.grid-column .section__costs-p {
  font-size: 1.25rem;
  margin-top: 1rem;
}
.grid-column .section__business {
  max-width: 80%;
  display: column;
  margin-left: 17rem;
  margin-top: 1.5rem;
}
.grid-column .section__business-intro-title {
  font-size: 2.25rem;
}
.grid-column .section__business-intro-para {
  font-size: 1.25rem;
}
.grid-column .section__business-intro-list {
  font-size: 1.25rem;
  margin-left: 3rem;
}
.grid-column .section__business-table,
.grid-column .section__business tr,
.grid-column .section__business td {
  border: 1px solid black;
  font-size: 1.25rem;
}
.grid-column .business__input {
  margin-left: 15rem;
}
.grid-column .business__input-info {
  margin-top: 1rem;
  font-size: 2rem;
}
.grid-column .business__input--input {
  width: 16rem;
  height: 2.5rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .grid-column {
    margin-left: -15rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: -16rem;
  }

  .section__home-intro-title {
    height: 10rem;
  }
  .section__home--btn {
    max-width: 50%;
  }

  .section__costs {
    padding-left: 3rem;
  }

  .business__input {
    padding-left: 2rem;
    margin-bottom: 4rem;
  }
}
.why__go-info {
  width: 75%;
  padding-left: 18rem;
  padding-top: 3rem;
  font-size: 1.25rem;
}
.why__go-info-title_orange {
  color: #ff7900;
}
.why__go-info-title {
  font-size: 2.25rem;
}
.why__go-info--para2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.why__go-how {
  width: 25%;
  padding-left: 18rem;
  padding-top: 3rem;
  font-size: 1.25rem;
}
.why__go-how-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40rem 5rem 40rem;
  grid-template-columns: 40rem 40rem;
  grid-gap: 5rem;
}
.why__go-how-img {
  margin-top: -5rem;
}
.why__go-how-title {
  font-size: 2.25rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 420px) {
  .why__go-info {
    width: 35rem;
    margin-left: -16rem;
  }

  .why__go-how {
    width: 35rem;
    margin-left: -16rem;
  }
  .why__go-how-column {
    display: block;
  }
  .why__go-how-img {
    margin-top: 1rem;
    width: 16rem;
  }
}
.section__about {
  width: 45%;
  margin-left: 18rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}
.section__about-title {
  font-size: 2.25rem;
}

.section__about2 {
  width: 45%;
  margin-left: 18rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.section__about2-title {
  margin-top: 2rem;
  font-size: 2.25rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 420px) {
  .section__about {
    width: 20rem;
    margin-left: 1rem;
  }

  .section__about2 {
    width: 20rem;
    margin-left: 1rem;
  }
}
.footer {
  width: 100%;
  height: 18rem;
  background-color: #004f97;
}
.footer__columns {
  width: 80%;
  margin-left: 18rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer__list-title {
  margin-left: 15px;
  margin-top: 30px;
}
.footer__title {
  color: var(--clr-light);
}
.footer__list {
  color: #c04400;
}
.footer__para {
  color: #c04400;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: var(--fs-h3);
}
.footer__para2 {
  color: white;
}
.footer_link {
  color: white;
  font-size: var(--fs-h3);
}
.footer_link2 {
  color: #c04400;
}
.footer__copyright {
  margin-left: 18rem;
  margin-top: 1rem;
  color: grey;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 420px) {
  .footer {
    height: 50rem;
  }
  .footer__columns {
    display: block;
    margin-left: 1rem;
  }
  .footer__copyright {
    margin-left: 2rem;
  }
}